@import "../../../../styles/resources.scss";

.topbar {
  left: 0;
  min-width: 100%;
  z-index: 200;
  margin: 0;
  font-size: 1.1em;
}
.logo {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  height: 56px;
}
.logoText {
  font-size: 1.6em;
}
