@import "../../../../../styles/resources.scss";

.dashboardNotifications {
  text-align: center;
  border: 1px solid $colour-grey;
  border-radius: 10px;
  max-height: 900px;
  overflow: hidden;
}

.col {
  padding: 24px;
}
