// https://coolors.co/ededed-ff9f1c-00cecb-e94f37-43433e
$colour-white-bright: #ffffff;
$colour-white-light: #f7f7f7;
$colour-white-dirty: #ededed;
$colour-grey: #343a40;
$colour-light-grey: #f8f9fa;
$colour-blue: #007bff;

$colour-purple: purple;
$colour-orange: orange;

$colour-green: #28a745;
$colour-yellow: #ffc107;
$colour-red: #dc3545;
