// https://coolors.co/ededed-ff9f1c-00cecb-e94f37-43433e
$colour-white-bright: #ffffff;
$colour-white-light: #f8f8f8;
$colour-white-dirty: #ededed;
$colour-grey: #3d3d3d;
$colour-light-grey: #e2e2e2;
$colour-blue: #00a9de;
$colour-yellow: #ff9f1c;

$colour-purple: purple;
$colour-orange: orange;

$colour-green: green;
$colour-yellow: #dede00;
$colour-red: #ec5a4f;
