@import "../../styles/resources.scss";

.container {
  background-color: $colour-white-light;
  border-radius: 10px;
  margin-top: 20px;
}
.logoBlurb{
  padding-top: 10px;
  img {
    float: left;
    height: 50%;
  }
}
.login {
  padding-bottom: 150px;
}
.usernamePassword {
  margin: auto;
}