@import "./styles/resources.scss";

.app {
  text-align: center;
  background-color: $colour-white-bright;
  //display: flex;
  //flex-direction: column;
  min-height: 100vh;
  font-family: Roboto;
}
.mainContent {
  //padding-left: 255px; //240 for sidebar + 15
  //height: calc(100vh - 64px);
}
.sidebar {
  max-width: 240px;
  padding: 0;
}