@import "./styles/resources.scss";

.app {
  text-align: center;
  background-color: $colour-white-bright;
  min-height: 100vh;
  font-family: Roboto;
}
.topbar {
  min-height: 112px; // topbar + 48px for space between it and the content below
}
.sidebar {
  max-width: 240px;
  padding: 0;
}